<div id="maze-container">
	<div id="maze"></div>
</div>

<script>
	const width = {{width}};
	const height = {{height}};
	const cells = [{{cells}}];
</script>
<script src="./maze.js"></script>

<h2>Make Another Maze</h2>
{{> form}}