<div id="maze-form">
	<form action="/maze">
		<table>
			<tr>
				<td><label for="width">Width </label></td>
				<td><input type="number" id="width" name="width" value=15></td>
			</tr>
			 <tr>
			 	<td><label for="length">Length </label></td>
			 	<td><input type="number" id="length" name="length" value=15></td>
			 </tr>
			 <tr>
			 	<td><label for="seed">Seed </label></td>
			 	<td><input type="text" id="seed" name="seed" placeholder="Put anything here"></td>
			 </tr>
		</table>
		<input type="submit" value="Submit">
	</form>
</div>