<div id="maze-form">
  <form action="/maze">
    <table>
      <tr>
        <td><label for="width">Width </label></td>
        <td><input type="number" id="width" name="width" value={{width}}></td>
      </tr>
      <tr>
        <td><label for="height">Height </label></td>
        <td><input type="number" id="height" name="height" value={{height}}></td>
      </tr>
      <tr>
        <td><label for="seed">Seed </label></td>
        <td><input type="text" id="seed" name="seed" placeholder="Put anything here"></td>
      </tr>
    </table>
    <input type="submit" value="Submit">
  </form>
</div>