<h1>Maze Maker</h1>

<form action="/maze">
	<input type="submit" value="Give Me A Random Maze">
</form>

<form action="/maze">
	<div>
		<label for="width">Width: </label> <input type="number" id="width" name="width">
	</div>
	<div>
		<label for="length">Length: </label> <input type="number" id="length" name="length">
	</div>
	<div>
		<label for="seed">Seed: </label> <input type="text" id="seed" name="seed">
	</div>
	<input type="submit" value="Submit">
</form>