body {
  background: #E8E5DA;
  color: #143109;
}

h1, h2 {
  text-align: center;
}

#random-maze{
  display: flex;
  justify-content: center;
  margin-bottom: 50px
}

#maze-form{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#maze-form table{
  margin-bottom: 20px;
}

#maze-form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#maze-form input[type="number"]{
  width: 70px;
}

#css-maze, #text-maze{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#format{
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
}

#text-maze{
  font-size: 20px;
}

pre{
  margin: 0;
}

#maze{
  display: inline-block;
  border-width: 0 0 3px 3px;
  border-color: #083D77;
  border-style: solid;
  white-space: nowrap;
}

.row{
  line-height: 0.7;
  margin: 0;
}


.cell{
  box-sizing: border-box;
  display: inline-block;
  height: 25px;
  margin: 0;
  width: 25px;
}

.north{
  border-top: solid 3px #083D77;
}

.east{
  border-right: solid 3px #083D77;
}

.south{
  border-bottom: solid 2px #083D77;
}

.west{
  border-left: solid 2px #083D77;
}

.hide{
  display: none !important;
}